PROJECT_ID=
BQ_LOCATION=EU

APP_NAME=PRUEBA_CRYPTO

SANDBOX_DATASET=SANDBOX_PRUEBA_CRYPTO
SANDBOX_TABLE=coingecko_markets_raw

INTEGRATION_DATASET=INTEGRATION
INTEGRATION_TABLE=integration_coingecko_markets

API_URL=https://api.coingecko.com/api/v3/coins/markets
API_VS_CURRENCY=usd
API_ORDER=market_cap_desc
API_LIMIT=100
API_PAGE=1
API_SPARKLINE=false

SOURCE_NAME=coingecko
WRITE_DISPOSITION=WRITE_TRUNCATE